body {
	background-image: url("background.jpg");
	background-size: cover;
	text-align: center;
	font-family: calibri;
}

h1 {
	font-size: 52px;
	font-family: consolas;
}

p {
	font-size: 18px;
	font-family: calibri;
}

a {
	display: inline-block;
	font-family: calibri;
	font-size: 18px;
	border: 1px solid #9900cc;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
	text-decoration: none;
	background-color: white;
	color: #9900cc;
}

a:hover {
	color: white;
	background-color: #9900cc;
}

#wrapper {
	background-color: rgba(255,255,255,0.7);
	position: relative;
	padding: 50px;
	padding-bottom: 75px;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
	margin: auto;
	position: relative;
}

input {
	width: 40px;
	height: 20px;
	text-align: center;
}

button {
	font-family: calibri;
	font-size: 16px;
	display: inline-block;
	margin: auto;
	/*color: white;
	background-color: #9900cc;
	border-radius: 10px;*/
}

.white {
	background-color: white;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: auto;
}

.black {
	background-color: black;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: auto;
}

.red {
	background-color: red;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: auto;
}

.blue {
	background-color: blue;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: auto;
}

.green {
	background-color: green;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: auto;
}

.yellow {
	background-color: yellow;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: auto;
}