<!DOCTYPE HTML >
<!-- Bachmair Boys -->
<html>
	<head>
		<title>Mastermind Solver</title>
		<style></style>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
		<script src="{{url_for('static', filename='js/script.js')}}"></script>
	</head>
	
	<body onload = "initialize()">
		<div id = "wrapper">
			<h1>Custom Mastermind Puzzle Solver</h1>
			<p>Custom Mastermind Puzzle Solver</h1>
			<p>Create your own mastermind puzzle. Click each node to change to your color of choice. Enter the number of black and white pins. Solution to the puzzle will be provided below.</p>
			<br />
			<table id = "container">
				<tr>
					<th>Position 1</th>
					<th>Position 2</th>
					<th>Position 3</th>
					<th>Position 4</th>
					<th>Black Pegs</th>
					<th>White Pegs</th>
				</tr>
			</table>
			<br>
			<button onclick="addRow()">Add row</button>
			<br /><br />
			<button>Solve</button>
			<br /><br />
			<a href="{{ url_for('index') }}">Return to main page</a> 
		</div>
	</body>
</html>