<!DOCTYPE HTML >
<!-- Bachmair Boys -->
<html>
	<head>
		<title>Mastermind Solver</title>
		<style></style>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
		<script src="{{url_for('static', filename='js/script.js')}}"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	
	<body onload = "initialize()">
		<div id = "wrapper">
			<h1>Solution to Tucker's Weekly Puzzle</h1>
			<p>Weekly emails sent to students containing the mastermind puzzle are scraped and computed to solve the problem. Puzzle and solution are provided below.</p>
			<br />
			<table id = "container">
				<tr>
					<th>Position 1</th>
					<th>Position 2</th>
					<th>Position 3</th>
					<th>Position 4</th>
					<th>Black Pegs</th>
					<th>White Pegs</th>
				</tr>
			</table>
			<br />
			<div id = "solutions"></div>
			<a href="{{ url_for('index') }}">Return to main page</a> 
		</div>
		
		<script type="text/javascript">
		//alert(data.num_blacks.length);
		$(function(){
			$.getJSON('/get_guesses', (data) => {
				for (var i = 0; i < data.num_blacks.length ; i++){
					var container = document.getElementById("container");
					var row = container.insertRow(-1);
					for (var j = 0; j < data.sequence[i].length; j++) {
						var col = row.insertCell(-1);
						col.innerHTML = data.sequence[i][j];
					}
					
					var black = row.insertCell(-1);
					black.innerHTML = data.num_blacks[i];
					
					var white = row.insertCell(-1);
					white.innerHTML = data.num_whites[i];
				}
			})		
		})
		
		/*$(function() {
			$.getJSON('/check', 
		})*/
	</script>
		
	</body>
</html>